<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cn" value=""/>
  </appSettings>
    <connectionStrings>
        <add name="cn" connectionString="Data Source=.;Initial Catalog=Northwind;User ID=sa;Password=123;"
            providerName="System.Data.SqlClient" />
        <add name="Kursa4_krixn_exploid.Properties.Settings.Connetion"
            connectionString="Data Source=(local);Initial Catalog=master; Integrated Security = true; Persist Security Info=True;User ID=sa;Password=123" />
    </connectionStrings>
</configuration>